# ignore specs
SeldonianExperimentSpecs/

# ignore logs
logs/

# ignore pycache
*.pyc

# ignore datasets
#
health/*.csv

examples/face_recog/face/*.csv
examples/face_recog/face/*.pkl
examples/face_recog/face/*.zip
data.zip
